<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/icons/favicon-16x16.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/login">
            <table>
                <tr>
                    <th><label for="username">Username/Key/Password</label></th>
                    <th><input type="text" id="username" name="username" placeholder="Username/Key/Password" autocomplete="off"></th>
                </tr>
                <tr>
                    <th colspan="2">
                        <button type="submit" name="login">Login</button>
                    </th>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>